-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => params[:sort_title]}
        %a#title_header{:href => '/movies?sort_title=hilite'} Movie Title
      %th Rating
      %th{:class => params[:sort_date]}
        %a#release_date_header{:href => '/movies?sort_date=hilite'} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
