-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @rating_checked[rating]
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      %th{:class => session[:sort_title]}
        %a#title_header{:href => '/movies?sort_title=hilite'} Movie Title
      %th Rating
      %th{:class => session[:sort_date]}
        %a#release_date_header{:href => '/movies?sort_date=hilite'} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
%h1 Extra Stuff
- params.each do |key, value|
  = key.to_s + "->" + value.to_s + "; "
%p
- session.each do |key, value|
  = key.to_s + "->" + value.to_s + "; "
%p
= @selected_ratings.to_s
%p
= session[:ratings].to_s
%p
= @full_uri

